@font-face {
  font-family: "Akzidenz Pro Regular";
  src: url("Schriften/TomatoGrotesk-Regular.otf");
}

@font-face {
  font-family: "Akzidenz Pro Medium";
  src: url("Schriften/TomatoGrotesk-SemiBold.otf");
}

@keyframes example {
  from {opacity: 0.5;}
  to {opacity: 1;}
}

html {
  cursor: cell;
  font-family: "Akzidenz Pro Regular";
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  margin:0;
  padding: 0;
  border: 0;
}

img {
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


/* Main */

@media (min-width: 319px) {

.logo {
  width: 8em;
  position: fixed;
  fill: #efefef;
  padding-left: 2em;
}

h1 {
  font-size: 1em;
}

h3 {
	color:grey;
}

button {
  cursor:cell;
}

.sideLink {
    color: black;
    text-decoration-line: none;
}

.sideLinkMobile {
    color: white;
    text-decoration-line: none;
}


/* Responsive/Flexible */

.container,
.column
{
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-flex: 1 100%;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%; 
}

/* Anordnung  */

.container {
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  height: 100vh;
  width: 100%;
}

  .column {
    padding: 2% 0%;
  }

/* Column */  

#graphicContainer {
  display: flex;
  justify-content: center;
  background: #151515;
  color:#efefef;
  max-height: 50vh; 
}

#photographyContainer {
  display: flex;
  justify-content: center;
  background: #efefef;
  color: #151515;
  max-height: 50vh; 
}


/* Navigation */

hr {
  visibility: hidden;
}

.underPhoto {
  visibility: hidden;
  }

.side { 
	cursor:cell;
	font-family: "Akzidenz Pro Regular";
    writing-mode: horizontal-tb;
    text-orientation: unset;
   }

.sideNavi {
  visibility: hidden;
  cursor:cell;
  padding-top: 1em;
  position: fixed;
  right: 1.2em;
}

.sideNaviMobile {
  visibility: visible;
  cursor:cell;
  position: fixed;
  top: 2.3em;
  right:1.3em;
}

.naviHead {
margin-bottom: 0px;
padding-left: 0.4em;
display: inline-block;
border: none;
font-size: 1.2em;
}

.buttonGraph {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 0.8em;
  color: #efefef;
  background: none;
  border: none;
}

.buttonPhoto {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 0.8em;
  color: #151515;
  background: none;
  border: none;
}

.activeGraph, .activePhoto {
  font-family: "Akzidenz Pro Medium";
  text-align: left;
  font-size: 0.8em;
  background: none;
  border: none;
}

.naviPhoto {
	position: fixed;
	bottom: 1%;
	padding-bottom: 0em;
}

.naviGraph {
	position: fixed;
	bottom: 51%;
	padding-bottom: 0em;
}

/* Gallery */ 

.column {
    padding: 0% 0% 0% 2%;
}

.graphContent, .photoContent {
          display: grid;
          grid-gap: 1em;
          padding-left: 2em;
          padding: 10em 2em 2em 3em;
          grid-template-columns: repeat(2, 10fr);
	        overflow-y: auto;
}

.graphGalleryPic, .photoGalleryPic {
        width: 100%;
        }

.photoContent, .graphContent {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

::-webkit-scrollbar { 
    display: none; 
    }

        .AP {
          grid-column-start: 1;
          grid-row-start: 1;
        }

        .A {
          grid-column-start: 2;
          grid-row-start: 1;
        }

        .B {
          grid-column-start: 2;
          grid-row-start: 2;
        }

        .C {
          grid-column-start: 1;
          grid-row-start: 2;
        }

        .D {
          grid-column-start: 2;
          grid-row-start: 3;
        }

        .E {
          grid-column-start: 1;
          grid-row-start: 3;
        }

        .F {
          grid-column-start: 1;
          grid-row-start: 4;
        }

        .G {
          grid-column-start: 2;
          grid-row-start: 4;
        }

        .H {
          grid-column-start: 2;
          grid-row-start: 5;
        }


        .I {
          grid-column-start: 1;
          grid-row-start: 5;
        }


}

@media (min-width: 540px) {

.graphGalleryPic, .photoGalleryPic {
        width: 90%;
        }

  .naviHead {
font-size: 2em;
}

.naviPhoto {
	bottom: 1%;
	padding-bottom: 0em;
}

.naviGraph {
	bottom: 51%;
	padding-bottom: 0em;
}

.logo {
          width: 15em;
          position: fixed;
          fill: #efefef;
          margin: 5.2%;
        }

.graphContent {
          display: grid;
          grid-gap: 1em;
          padding: 30% 3% 20% 5%;
          grid-template-columns: repeat(2, 10fr);
        }

.photoContent {
          display: grid;
          grid-gap: 1em;
          padding: 5% 3% 20% 5%;
          grid-template-columns: repeat(2, 10fr);
}

.sideNaviMobile {
  position: fixed;
  font-size: 2em;
}

.buttonGraph {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 1.5em;
  color: #efefef;
  background: none;
  border: none;
}

.buttonPhoto {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 1.5em;
  color: #151515;
  background: none;
  border: none;
}

.activeGraph, .activePhoto {
  font-family: "Akzidenz Pro Medium";
  text-align: left;
  font-size: 1.5em;
  background: none;
  border: none;
}

}

/* Breakpoint für Desktop */

@media (min-width: 992px) {


    .naviHead {
font-size: 11pt;
}


.buttonPhoto, .buttonGraph {
  font-size: 0.6em;
}

.activeGraph, .activePhoto {
  font-family: "Akzidenz Pro Medium";
  text-align: left;
  font-size: 0.6em;
  background: none;
  border: none;
}

  .side {
    writing-mode: vertical-lr;
text-orientation: sideways;
transition: transform .2s;
  }

 .side:hover {
  transform: scale(1.1);
 }
  .sideNaviMobile {
  visibility: hidden;
}

      .sideNavi {
        visibility: visible;
        display: block;
        position: absolute;
        top: 40%;
        right: 2%;
        background-color: none;
      }

        .container {
          flex-flow: row nowrap;
       }

        .column {
          padding: 0% 3% 0% 2%;
        }

        .logo {
          width: 20%;
          position: fixed;
          fill: #efefef;
          margin: 5.1em 0em 0em 1.5em;
        }

        .naviPhoto, .naviGraph {
        bottom: 0px;
        padding-bottom: 4em;
        transform: scale(1);
        }

        .graphContent, .photoContent {
          display: grid;
          grid-gap: 1em;
          grid-template-columns: repeat(2, 20fr);
        }

        #photographyContainer, #graphicContainer {
        	max-height: 100vh;
        }

        .graphGalleryPic, .photoGalleryPic {
        	width: 100%;
          transition: transform .2s;
         }

         .graphGalleryPic:hover, .photoGalleryPic:hover {
          transform: scale(1.04);
          }

        .graphContent {
        	padding-top: 5em;
        	padding-left: 2em;
        	padding-right: 1em;
          padding-bottom: 8em;

        }

         .photoContent {
          padding-top: 5em;
          padding-left: 2em;
          padding-right: 1em;
          padding-bottom: 8em;

        }

        /* Grid-Anreihung */


.all:hover ~ hr {
  visibility: visible;
  margin-left: 2%;
}

.allph:hover ~ hr {
  visibility: visible;
  margin-left: 2%;
}

.buch:hover ~ hr {
  visibility: visible;
  margin-left: 29%;
}

.graph:hover ~ hr {
  visibility: visible;
  margin-left: 44%;
}

.post:hover ~ hr {
  visibility: visible;
  margin-left: 61%;
}

.web:hover ~ hr {
  visibility: visible;
  margin-left: 84.5%;
}

.cede:hover ~ hr {
  visibility: visible;
  margin-left: 87.5%;
}


hr {
  height: .05rem;
  width: 10%;
  margin: 0;
  background: white;
  border: none;
  transition: .3s ease-in-out;
}

.underPhoto {
  height: .05rem;
  width: 10%;
  margin: 0;
  background: black;
  border: none;
  transition: .3s ease-in-out;
}

}

