
/* Main */

@font-face {
  font-family: "Akzidenz Pro Bold";
  src: url("Schriften/Akzidenz Grotesk Pro Bold Ext Regular.otf");
}

@font-face {
  font-family: "Akzidenz Pro Regular";
  src: url("Schriften/Akzidenz Grotesk Pro Ext Regular.otf");
}

html {
  font-family: "Akzidenz Pro Regular";
  width: 100%;
  height: 100%;

}

body {
  margin:0;
  padding: 0;
  border: 0;
}

.logo {
  width: 5em;
  position: fixed;
  fill: white;
  padding-left: 2em;
}

h1 {
  font-size: 0.8em;
}

/* Responsive/Flexible */

.inhalt,
.container,
.column
{
  display: flex;
  flex: 1 100%;
}

/* Anordnung  */

.container {
  flex-flow: column nowrap;
  height: 100vh;
  width:100%;
}
  .column {
    padding: 2% 0%;
  }

/* Column */  

#graphicContainer {
  display: flex;
  justify-content: center;
  background: black;
  color:white;
}

#photographyContainer {
  display: flex;
  justify-content: center;
  background: white;
  color: black;
}


/* Navigation */

.side { 
writing-mode: vertical-lr;
text-orientation: sideways;
   }

.sideNavi {
display: none;
}

.naviHead {
margin-bottom: 0px;
padding-left: 0.4em;
display: inline-block;
border: none;
font-size: 11pt;
}

.aktiverButtonGraph, .pushItGraph {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 0.2em;
  color: white;
  background: none;
  border: none;
}

.aktiverButtonPho, .pushItPho {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 0.2em;
  color: black;
  background: none;
  border: none;
}

.naviPhoto, .naviGraph {
  display: flex;
  align-items: flex-end;
  background: none;
  padding-bottom: 0.7em;
}

/* Gallery */ 

/* Breakpoint für Desktop */

@media (min-width: 61.25em) {

      .sideNavi {
        display: block;
        position: absolute;
        top: 40%;
        right: 2%;
        background-color: none;
      }

        .container {
          flex-flow: row nowrap;
       }

        .column {
          padding: 0% 3%;
        }

        .logo {
          width: 10em;
          position: fixed;
          fill: white;
          margin: 3%;
        }

        .naviPhoto, .naviGraph {
          padding-bottom: 4em;
        }
}

