
/* Main */

@font-face {
  font-family: "Akzidenz Pro Regular";
  src: url("Schriften/Akzidenz Grotesk Pro Ext Regular.otf");
}


html {
  cursor: cell;
  font-family: "Akzidenz Pro Regular";
  width: 100%;
  height: 100%;

}

body {
  margin:0;
  padding: 0;
  border: 0;
}


.logo {
  width: 5em;
  position: fixed;
  fill: white;
  padding-left: 2em;
}

h1 {
  font-size: 0.8em;
}

h3 {
	color:grey;
}

button {
  cursor:cell;
}


/* Responsive/Flexible */

.container,
.column
{
  display: flex;
  flex: 1 100%;
}

/* Anordnung  */

.container {
  flex-flow: column nowrap;
  height: 100vh;
  width: 100%;
}
  .column {
    padding: 2% 0%;
  }

/* Column */  

#graphicContainer {
  display: flex;
  justify-content: center;
  background: black;
  color:white;
}

#photographyContainer {
  display: flex;
  justify-content: center;
  background: white;
  color: black;
}


/* Navigation */

.side { 
writing-mode: vertical-lr;
text-orientation: sideways;
   }

.sideNavi {
display: none;
}

.naviHead {
margin-bottom: 0px;
padding-left: 0.4em;
display: inline-block;
border: none;
font-size: 11pt;
}

.buttonGraph {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 0.5em;
  color: white;
  background: none;
  border: none;
}

.buttonPhoto {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 0.5em;
  color: black;
  background: none;
  border: none;
}

.activeGraph, .activePhoto {
  font-family: "Akzidenz Pro Regular";
  text-align: left;
  font-size: 0.5em;
  color: grey;
  background: none;
  border: none;
}

.naviPhoto {
	position: fixed;
	bottom: 1%;
	padding-bottom: 2em;
}

.naviGraph {
	position: fixed;
	bottom: 51%;
	padding-bottom: 2em;
}

/* Gallery */ 

.column {
    padding: 0% 0% 0% 2%;
}

.graphContent, .photoContent {
          display: grid;
          grid-gap: 5em;
          padding-left: 2em;
          grid-template-columns: repeat(1, 10fr);
	        overflow-y: auto;
}

.graphGalleryPic, .photoGalleryPic {
        width: 90%;
        }

.photoContent::-webkit-scrollbar { width: 0 !important }
.photoContent { overflow: -moz-scrollbars-none; }
.photoContent { -ms-overflow-style: none; }
.graphContent::-webkit-scrollbar { width: 0 !important }
.graphContent { overflow: -moz-scrollbars-none; }
.graphContent { -ms-overflow-style: none; }

/* Breakpoint für Desktop */

@media (min-width: 61.25em) {

      .sideNavi {
        display: block;
        position: absolute;
        top: 40%;
        right: 2%;
        background-color: none;
      }

        .container {
          flex-flow: row nowrap;
       }

        .column {
          padding: 0% 3% 0% 2%;
        }

        .logo {
          width: 10em;
          position: fixed;
          fill: white;
          margin: 3%;
        }

        .naviPhoto, .naviGraph {
        bottom: 0px;
        padding-bottom: 4em;
        }

        .graphContent, .photoContent {
          display: grid;
          grid-gap: 3em;
          padding: 0% 9% 0% 4%;
          grid-template-columns: repeat(2, 20fr);
        }

        .graphGalleryPic, .photoGalleryPic {
        	width: 100%;
          transition: transform .2s;
         }

         .graphGalleryPic:hover, .photoGalleryPic:hover {
          transform: scale(1.04);
          }

          .buttonGraph:hover, .buttonPhoto:hover, .activeGraph:hover, .activePhoto:hover {
           text-decoration-line: underline;
          }

        .graphContent, .photoContent {
        	padding-top: 4em;
        	padding-left: 2em;
        	padding-right: 1em;
          padding-bottom: 4em;

        }

        .AP {
          grid-column-start: 1;
          grid-row-start: 1;
        }

        .A {
          grid-column-start: 2;
          grid-row-start: 1;
        }

        .B {
          grid-column-start: 2;
          grid-row-start: 2;
        }

        .C {
          grid-column-start: 1;
          grid-row-start: 2;
        }

        .D {
          grid-column-start: 2;
          grid-row-start: 3;
        }

        .E {
          grid-column-start: 1;
          grid-row-start: 4;
        }

}

